@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" asp-action="Edit" class="mt-4">
    <input asp-for="Id" class="form-control" hidden />
    <div class="form-group mt-2">
        <label asp-for="Name" class="form-control"></label>
        <input asp-for="Name" class="form-control" />

    </div>
    <div class="input-group mt-2 justify-content-center">
        <button class="btn btn-success m-2" type="submit">save</button>
        <a class="btn btn-secondary" asp-action="Index">Back To List</a>
    </div>
</form>